<!DOCTYPE html>
<html>
  <head>
    <title>RedBaron</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-dark bg-dark">
      <%= link_to "The Red Baron", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "About", pages_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Menus", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Directions", pages_directions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Schedule A Pick-Up", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
          <span class="navbar-text">
            <hr>
            <p> 220 Airport Access Rd, Southbridge, MA 01550 </p>
            <hr>
            <p> (508) 765-5800 </p>
            <hr>
            <p> Hours </p>
          </span>
        </ul>
      </div>
      </nav>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="container-fluid">
      <ul class="navbar fixed-bottom nav nav-justified bg-dark">
        <li class="nav-item color-dark">
          <a class="nav-link linkreset" href="#">220 Airport Access Rd, Southbridge, MA 01550</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkreset" href="#">(508) 765-5800</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkreset" href="#">Facebook Link</a>
        </li>
      </ul>
    </div>
  </body>
</html>
